body {
    background-color: antiquewhite;
    margin: 0px;
}

/* div.admin-pannel {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 1%;
    height: 100%;
} */

div.pannel-content {
    height: 100%;
    background-color: green;
    position: fixed;
    padding: 2%;
}

div.content {
    position: absolute;
    left: 50%;
}

div.pannel-image>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}