body {
    margin: 0px;
}

div.pannel-image>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

div.nav-bar {
    margin-bottom: 20px;
    background-color: green;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    
}